html {
   
   --cell-size: 100px;
   --color-one: #000;
   --color-two: #aaa;
   --color-three: #fff;
   --color-four: #666;
   --color-five: blue;
   font-family: "Lucida Console", sans-serif;
   text-align: center;
      background-color: #fff;

   
}

@media (max-width: 700px){

 html{
   --cell-size: 50px;
   }  

body {
   width: 80vw;
   background-color: #ffc5c5;
   border: #0611e3;
   border-width: 10px;
}


.en-tete {
   display: flex;
}

.logo {
   text-align: left;
}
.menu {
   display: flex;
}
}