@media (max-width: 600px){

body{
    min-height: 100vh;
    background-color: #ffc5c5;
    padding: 10px;
}
.logo-img{
    width: 150px;
}
.en-tete{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.menu {
    display: flex;
    margin-right: 20px;
    align-items: center;
}
ul {
    margin-right: 20px;
}
section{
    background-color: bisque;
    min-width: 250px;
    height: 250px;
    border: 1px solid black;
    margin: 50px;
}
footer{
    margin: 5px;
}
}