/* @media screen and (width <= 493px) { */

.container{
    background-color: #FFF;
    
    
   
}
.en-tete{
    
}
.en-tete__hero{
    max-width: 100vw;
    margin: auto;
}
.en-tete__hero_hero-img{
    width: 100%;
}
.en-tete__logo{
    text-align: center;
    margin-top: -5vw;
    
}
.en-tete__logo_logo-img{
    width:30%;
    border-radius: 5%;
    
}
.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.en-tete__title{
    text-align: center;
    margin-top: 5vw;
}
.en-tete__title_metier{
    font-weight: bold;
    margin-bottom: 5vw;
    font-size: 4vw;
}
.en-tete__title_enseigne{
    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 5vw;
    
}
.en-tete__title_commune{
    font-weight: bold;
    font-size: 4vw;
    margin-bottom: 5vw;
}
.en-tete__contact{
    display: flex;
    height: 5vw;
    margin-bottom: 5vw;
   justify-content: space-evenly;
}
.button{
    display: flex;
    width: 30vw;
    
    
    background: #e4b8c3;
    border: 1px solid #FFF;
    border-radius: 10px;
    box-shadow: 1.5vw 1vw 1vw #e99fb1
}
.en-tete__contact_icone-telephone{
    
    width: 3vw;
    height: 3vw;
    margin: 0.7vw;
    
}
.en-tete__contact_tel-text{
    margin: auto;
    align-items: center;
    font-size: 2vw;
    font-weight: bold;
}
.en-tete__contact_mail-text{
    margin: auto;
    align-items: center;
    font-size: 1.8vw;
    font-weight: bold;
}
.menu {
    display: flex;
    margin-right: 20px;
    align-items: center;
}
ul {
    margin-right: 20px;
}
section{
    background-color: #FFDEE2;
    min-width: 80%;
    height: 250px;
    border: 1px solid black;
    margin: auto;
}
footer{
    margin: 5px;
}
header{
    margin-bottom: 300px;
}

    /*  Width Screnn > 500 px */
@media screen and (width >= 500px){
    .container{
    background-color: #FFF;
    width: 70vw;
    margin: auto; 
}

    .en-tete__logo{
    
    margin-top: -5vw;
    
}
.button{
    display: flex;
   
    width: 30vw;
    min-width: 160px;
    
    /* background: #f1cfcf; */
    border: 1px solid #fff;
    border-radius: 20px;
}
.en-tete__contact_icone-telephone{

    width:3vw;
    height: 3vw;
    margin: 0.7vw;
}
.en-tete__contact_tel-text{
    margin: auto;
    align-items: center;
    font-size: 1.5vw;
}
.en-tete__contact_mail-text{
    margin: auto;
    align-items: center;
}
}